<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a id="social-link" href="https://www.facebook.com/sagnik.banerjee.52012/"><i class="fa-brands fa-square-facebook"></i></a>
            <a id="social-link" href="https://www.instagram.com/sagnik.bnz03/"><i class="fa-brands fa-square-instagram"></i></a>
            <a id="social-link" href="https://www.linkedin.com/in/sagnik-banerjee-738929219/"><i class="fa-brands fa-linkedin"></i></a>
            <a id="social-link" href="https://github.com/Sagnik-2898"><i class="fa-brands fa-github"></i></a>
        </div>
        <div class="f-info-brand">&copy;StayNest Private Limited</div>
        <div class="f-info-links">
            <a id="privacy" href="/terms">Terms</a>
            <a id="privacy" href="/privacy">Privacy</a>
        </div>
    </div>
</footer>
